.Nav{
    cursor: pointer;
    height: 100px;
    background-color: rgb(247, 177, 188);
}
.mlink{
    text-decoration: none;
    color: rgb(252, 12, 52);
}
.offhead{
    font-size: 30px;
}
  .lh{
    height: 100px;
    fill:yellow;
    stroke: blue;
  }
  
  h5{
    color: white;
   
  }
  